@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html {
    /* font-size: 62.5%; */
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    /* font-family: 'Merienda', cursive; */
    /* font-family: "Nunito Sans", sans-serif; */
    font-family: "Barlow", sans-serif;
}

:root {
    --primaryColor: #ffffff;
    --secondaryColor: #f3c326;
    --fontColor: #1c3c74;
    --textColor: #7491c2;
    --lightColor: #FFFFFF;
    --headingFont: 54px;
    --sebHeadingFont: 18px;
    --paragraph: 16px;
    --linkButton: 16px;
    --contactHeight: 5vh
}

.align {
    max-width: 1200px;
    margin: auto;
    padding: 0 3rem;
}

.componentSpacing {
    padding-top: 3rem;
}

/* Default code */

/* Project code */

/* parent container */

header {
    width: 100%;
    height: auto;
}

main {
    width: 100%;
    height: auto;
}

footer {
    width: 100%;
    height: auto;
}

/* parent container end */

/* grid */
.grid-1 {
    display: grid;
    grid-template-columns: 1fr;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* grid end */

/* flex */
.d-flexNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.d-flex-col-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.d-flex-start {
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

/* flex end */

/* underline */

.underline {
    background-color: #f3c326;
    width: 10%;
    height: 3px;
}

.underlineAd {
    width: 40%;
    height: 3px;
    background-color: #f3c326;
    margin-top: 10px;
}

/* underline end */

/* nav */

.navBar {
    /* background-color: rgb(49, 46, 46); */
}

.topBar {
    background-color: var(--secondaryColor);
    padding: 15px 0;
    font-family: "Barlow", sans-serif;
}

.phoneNumber {
    margin-left: 14%;
}

.phoneNumber i {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 5px 8px;
}

.phoneNumber h4 {
    font-weight: 600;
    margin-left: 8px;
}

.d-flexS {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.topBarLinks {
    margin-right: 10%;
}

.topBarLinks li {
    list-style-type: none;
}

.topBarLinks li a {
    text-decoration: none;
    color: #ffffff;
}

.border {
    border: 1px solid black;
    padding: 4px 8px;
    border-radius: 10px;
    background-color: rgb(34, 34, 39);
}

.fa-instagram {
    border-radius: 50%;
    background-color: #ffffff;
    color: #000000;
    padding: 5px 8px;
}

.fa-square-facebook {
    border-radius: 50%;
    background-color: #ffffff;
    color: #000000;
    padding: 5px 8px;
}

.fa-youtube {
    color: red;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 5px 6px;
}

/* TOPBAR END */

/* MiddleBar */

.middleBar {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    display: flex;
}

.logoLinks {
    /* width: 20%; */
}

.logo img {
    width: 300px;
    margin-left: 20%;
}

.contactLinks {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contactBar {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 30px;
}

.contactLinks i {
    color: red;
    font-size: 30px;
}

.emailContent,
.callContent,
.locationContent {
    margin-left: 15px;
}

.contactBar h4 {
    font-size: 20px;
    font-family: "Barlow", sans-serif;
}

.email,
.call {
    /* background-color: aqua; */
    border-right: 1px solid black;
    padding: 5px 35px 5px 5px;
}

/* middleBar end */

/* BottomBar */

.bottomBar {
    background: rgba(0, 0, 0, 0.5);
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLinks {
    width: 60%;
    /* background-color: transparent; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 13px;
    margin-left: 20px;
}

.navLinks li {
    list-style-type: none;
}

.navLinks li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}

.button {
    background-color: var(--secondaryColor);
    padding: 13px 25px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
}

/* BottomBar end */

/* hero section */

.bgVideo {
    width: 100%;
    height: auto;
}

.text {
    border: 1px solid black;
    padding: 40px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Hero Section End */

/* Advantage */

.advantageContainer {
    /* background-color: aquamarine; */
}

.part1 {
    display: flex;
}

.flex1 {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.adTitle {
    margin: 20px;
    font-size: 1.8rem;
}

.adTitle span {
    color: #1c3c74;
}

.adBody p {
    margin: 0 20px 10px 5px;
    line-height: 1.8;
    color: var(--textColor);
}

.achievement {
    width: 30%;
    margin-top: 30px;
}

.flex2 {
    /* width: 15%; */
}

.newsPaper {
    border: 5px solid #1c3c74;
    padding: 10px 0 10px 0;
}

.flex2 h3 {
    font-size: 1.2rem;
    text-align: center;
}

.flex2 span {
    color: #1c3c74;
}

.flex2 img {
    width: 55%;
}

.aboutCard {
    background-color: aqua;
}

.aluminiAchive,
.participation,
.award,
.industry {
    border: 1px solid black;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
}

.cardTitle i {
    font-size: 2.5rem;
    color: rgb(80, 80, 80);
}

.cardBody {
    padding-top: 40px;
    color: blue;
}

.cardBody h4 {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
}

.cardBody span {
    color: red;
    font-size: 14px;
}

.cardBody p {
    font-size: 16px;
    line-height: 1.2;
}

/* advandage End */

/* about */

.spacing {
    padding: 3rem 0;
}

.aboutContent h2 {
    font-size: 1.9rem;
    color: var(--fontColor);
}

.aboutContent p {
    color: var(--textColor);
    line-height: 1.8;
    margin: 5px 30px 5px 0;
}

/* about end */

/* News & update */

.newsUpdateContainer {
    background-color: rgb(240, 240, 240);
}

.newsUpdateTitle {
    margin-bottom: 40px;
}

.newsUpdateTitle h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.newsUpdateTitle span {
    color: var(--fontColor);
}

.circular {
    border: 1px solid black;
    margin-right: 22%;
    background-color: #ffffff;
}

.circularTitle h3 {
    text-align: center;
}

.card1,
.card2,
.card3,
.card4,
.card5,
.card6 {
    border: 1px solid black;
    margin-bottom: 10px;
}

.date {
    border: 1px solid rgb(219, 33, 33);
    padding: 0 10px 10px 10px;
    background-color: var(--fontColor);
    color: #ffffff;
}

.date p {
    margin: 10px 0;
}

.new span {
    color: red;
}

.new p {
    padding: 0 5px 40px 15px;
}

.newsEvents {
    border: 1px solid black;
    margin-left: 22%;
    background-color: #ffffff;
}

.newsEventsTitle h3 {
    text-align: center;
}

/* new Update end */

/* programms */

.programOffer h2 {
    font-size: 2rem;
    margin-top: 30px;
}

.programOffer span {
    color: #1c3c74;
}

.underPostGraduate {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 2rem 6rem;
    padding: 30px;
    border-radius: 20px;
}

.underGraduate {
    margin: 10px;
}

.ugHeading h3 {
    font-size: 2rem;
    margin: 20px;
}

.ugHeading img {
    width: 80%;
    border-radius: 25% 0;
    margin-left: 10%;
}

.underGraduateContent {
    padding: 0 20px 0 50px;
}

.underGraduateContent p {
    padding: 15px 0;
}

.line {
    width: 100%; 
    height: 1px;
    background-color: #e6e6e6;
}

/* postgraduate */

.postGraduate {
    margin: 0 10px;
}

.pgHeading h3 {
    font-size: 2rem;
    margin: 20px;
}

.pgHeading img {
    width: 80%;
    border-radius: 25% 0;
    margin-left: 10%;
}

.postGraduateContent {
    padding: 0 20px 0 50px;
}

.postGraduateContent p {
    padding: 15px 0;
}

.graduateButton button {
    padding: 12px 20px;
    background-color: #da2032;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

.courseDetails {
    background-color: #333b41;
    margin: 30px 0;
    color: #ffffff;
}

.details{
    padding: 40px;
}

.rank h2 {
    font-size: 4rem;
}

.rank p {
    font-size: 18px;
}

/* programms */

/* event */

.events {
    /* background-color: #f3c326; */
}

.eventHeading span {
    color: #1c3c74;
}

.eventHeading h2 {
    font-size: 2rem;
    text-align: center;
}

.eventDetails {
    padding: 50px 0;
}

.eventVedio {
    margin: 10px;
}

/* event end */

/* initiatives */

.initiatives h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.initiatives span {
    color: var(--fontColor);
}

.initiativesLogos {
    margin: 3rem;
}

.initiativesLogos img { 
    background-color: #d1d1d1;
    width: 100%;
    border: 1px solid;
    border-radius: 10px;
} 

.logos {
    padding: 30px;
}

.ndl img {
    background-color: #d1d1d1;
    width: 60%;
    padding: 20px 0; 
    border-radius: 10px;
}

.ugc img {
    width: 90%;
}

.ugc img {
    width: 70%;
}

.pmkvy img {
    width: 95%;
}

.swayam img {
    width: 65%;
}

/* .pathasala img {
    width: 10%;
} */

.aishe img {
    width: 70%;
}

/* initiatives end */

/* footer */

.contactIconsContainer {
    background-color: #da2032;
}

.contactIcons {
    background-color: #f3c326;
    padding: 3rem 2rem;
}

.heading h2 {
    font-size: 1.5rem;
}





